body{
background-color: var(--cor-de-fundo);

}

:root{
--cor-de-fundo: #abbbc5;
--cor-de-texto: black;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
}

img{
    width: 8%;
}

.imagem{
    width: 20%;

}