body{
background-color: var(--cor-de-fundo);
font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;

}

:root{
--cor-de-fundo: #abbbc5;
--cor-de-texto: black;
--cor-do-cabeçalho: white;
--cinza: #abbbc5;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    background-color: var(--cor-do-cabeçalho);
    border: 2px solid var(--cor-de-texto);
    

}

img{
    width: 8%;
}

.imagem{
    width: 20%;

}

.imagem-1{
    width: 20%;
}

.imagem-2{
    width: 20%;
}

.apresentacao{
    display: flex;
    background-color: var(--cinza);
    border: 2px solid black;
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;

}

.colaterais{
    display: flex;
    border: 2px solid var(--cor-de-texto);
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
}

.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    display: flex;
    border: 2px solid var(--cor-de-texto);
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
}

.foto-equipe{

width: 40%;
}

.foto-equipe2{
    width: 40%;
}

.efeitos-colaterais{
    width: 20%;
}

.efeitos-colaterais{
    width: 20%;
}

footer{
    background-color: var(--cor-de-fundo);
    color: black;
}